@model BusinessLayer.Models.Wedstrijd

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Wedstrijd</h4>
<hr>

<section>
    <div class="form-box">
        <div class="form-value">

            <form action="@Url.Action("Create", "Wedstrijden")" method="post">
                <div class="form-group">
                    <input type="text" name="ThuisTeam" placeholder="Thuis team" required>
                </div>
                <div class="form-group">
                    <input type="number" name="ThuisScore" placeholder="Thuis score" required>
                </div>
                <div class="form-group">
                    <input type="number" name="UitScore" placeholder="Uit score" required>
                </div>
                <div class="form-group">
                    <input type="text" name="UitTeam" placeholder="Uit team" required>
                </div>
                <div class="form-group">
                    <input type="datetime-local" name="Datum" placeholder="Datum" required>
                </div>

                <p></p>
                <input type="button" value="Terug" class="btn btn-danger" onclick="location.href='@Url.Action("")'" />
                <input type="submit" value="Create" class="btn btn-primary"/>
                
            </form>
        </div>
    </div>
</section>